.card {
  width: 275px;
  border-radius: 4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 15px;
}

.stats {
  //display: flex;
}

.name {
  //max-height: 10px;
}

.cardHeader {
  column-count: 2;
  column-gap: 20px;
  width: 160px;
}

.cardImage {
  display: flex;
  justify-content: center;
  margin: 10px;
}
