.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSide {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.leftSide {
  margin-left: 160px;
}